* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root {
	// https://colorhunt.co/palette/202087
	--white: #f6f4e6;
	--yellow: #fddb3a;
	--yellow-two: rgb(255, 188, 44);
	--gray: #52575d;
	--black: #41444b;
}

body {
	background: var(--white);
}

body,
input,
textarea,
button {
	font-family: 250 1rem 'Work Sans', sans-serif;
	color: var(--black-two);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	font: 500 1rem Inter, sans-serif;
	color: var(--black);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

button {
	cursor: pointer;
}
